.spaceBackground1{
    background: #1c1026 !important;
}

.spaceBackground2{
    background: #2e1227 !important;
}


.spaceColorButton1{
    background-color: #4c1e3c !important;
    color: #c6bbb9 !important;
}

.purpleText{
    color: #4c1e3c !important;
}

.creamText{
    color: #c6bbb9 !important;
}